<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovian Careers</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div id="container>
        <img id="banner" src="/static/banner.jpg" alt="">
        <h2 class="roboto-regular">About Jovian</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis est error at, eius ad facilis optio quidem
            commodi reprehenderit aut neque nam accusamus sapiente repellendus perspiciatis officiis, nulla magni
            cupiditate?
            Modi ut numquam quaerat, maiores aliquam voluptate est reprehenderit enim iure atque officiis inventore facere
            provident sequi ratione ex quia dolore voluptatum! Enim fugiat debitis accusantium dolor. Tempora, ex facilis.
            Ducimus possimus eius, velit pariatur exercitationem quas obcaecati, incidunt dolor iusto dolores impedit dicta
            nostrum reiciendis quia assumenda cupiditate eligendi blanditiis illo doloribus eaque sit qui facilis. Totam,
            odit quisquam?
            Minima odit atque sunt et deserunt in eius quis praesentium, delectus veritatis quidem ab! Doloribus, modi.
            Magni ea iure maiores obcaecati accusamus quos, laboriosam est nostrum omnis similique distinctio optio!
            Debitis praesentium expedita perferendis. Optio beatae sequi culpa natus voluptates consequatur illo nostrum!
            Blanditiis minima tenetur, assumenda quisquam sapiente commodi neque earum. Consequuntur eum explicabo voluptate
            quia neque, culpa reprehenderit!</p>
            <h2>Open Positions</h2>
            <p>Show the jobs here</p>
            <button>Contact Us</button>
        </div>
        </body>
</html>

